/* Estilos gerais */
body {
    font-family: "Courier New", Courier, monospace;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(imagens/projeto2.jpeg);
}

/* Aplicando a opacidade somente ao fundo */
body::after {
    content: "";
    background-image: url(imagens/istockphoto-522470291-1024x1024.jpg);
    opacity: 0.5; /* Defina o valor de opacidade desejado */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;
    background-color: #242424;
}

header {
    background-color: #242424;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

section {
    margin: 40px auto;
    max-width: 800px;
    padding: 20px;
    background-color: #f4f4f4;
    
}

ul {
    list-style: disc;
    padding-left: 20px;
}

.project {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s;
    border-radius: 15px;
}

.Lana {
    max-width: 100%;
}

.project:hover {
    transform: scale(1.05);
}

.project img {
    max-width: 100%;
}

.project-details {
    display: none;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
}

.project-details button {
    background-color: #242424;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #242424;
    color: #eaeaea;
}

img {
    width: 250px;
    border-radius: 15px;
}

/* Estilos para a seção "Profissão" */
.inicio .titulo-inicio {
    animation: pulo 2s infinite alternate;
    
}

.inicio {

    background-size: 0cqmax;
    background-position: center bottom;
    color: #f6f6f6;
    padding: 250px 0;
    position: center;
    font-family: "Courier New", Courier, monospace;
    border-radius: 15px;
    background: transparent;
}

.titulo-inicio {
    font-size: 48px;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    margin-top: -200px;
    border-radius: 10px;
}


.titulo-inicio::after {
    content: "Cineasta, musicista, escritora e atriz amadora";
    display: block;
    font-size: 28px;
    margin-top: 10px;
}

/* Estilos para a imagem flutuante */
.flutuante {
    animation: pulo 2s infinite alternate;
    left: 100%;
}

@keyframes pulo {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px);
    }
}

.carousel-container {
    text-align: center;
    padding: 0;
    background-color: transparent;
    overflow: hidden;
    position: relative;
}

.carousel {
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    animation: slide 20s linear infinite;
}

.carousel img {
    max-width: 100%;
    display: inline-block;
    vertical-align: top;
}

@keyframes slide {
    0% {
        transform: translateX(100%); /* Inicie a partir da direita */
    }
    100% {
        transform: translateX(-100%); /* Mova para a esquerda para fora da tela */
    }
}


/* Adicione ao seu CSS */

.overlay {
    /* Estilos para o fundo escuro ao abrir a galeria */
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
    cursor: pointer;
}

.close {
    /* Estilos para o botão de fechar */
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.zoomed-image {
    /* Estilos para a imagem ampliada */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    max-height: 80%;
}

.prev, .next {
    /* Estilos para as setas de navegação */
    position: absolute;
    top: 50%;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.prev {
    left: 20px;
}

.next {
    right: 20px;
}
